{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div id="calculator">
      <div class="form-group">
        <p>
          <label for="handle">Your name:</label>
          <input id="handle" type="text" placeholder="handle" class="form-control">
        </p>
      </div>

      <form id="calculatorForm">
        <div class="form-group">
          <label for="calculatorInput">Input</label>
          <input id="calculatorInput" class="form-control" type="text" name="input" value="" required>
        </div>
        <button type="submit" class="btn btn-default">Calculate</button>
      </form>
    </div>

    <div id="results">
      {% for result in results  %}
        {{ result }}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block afterbody %}
  <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "index.js" %}'></script>
{% endblock %}
